{
    "extends": ["eslint:recommended"],
    "parser": "@babel/eslint-parser",
    "plugins": [],
    "rules": {},
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    }
}
